@charset "UTF-8";


* {
    
    font-family: font-family: 'Bebas Neue', cursive;
}


body {
    
    background-image:linear-gradient(to right, #2B2D42, #464969);
    
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    width: 1100px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #A72608;
text-align: center;
text-shadow: 1px 1px 2px #741a06d3;

}

h2 {
color: #6B654B;
text-shadow: 1px 1px 2px #58543ecb
}



p {
    text-align: justify;
    font-size: 16px;
}


